@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@900&display=swap');
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



* {

    box-sizing: border-box;
  
  }


.斑馬 .line {
stroke-dasharray: 300;
stroke-linejoin: round;
stroke-linecap: round;
/*animation: rotate 4s infinite linear;   
}
@keyframes rotate {
0% {
stroke-dashoffset: 0;
}
100% {
stroke-dashoffset: 2000;
}*/
}

body {
  
    position:static;
    margin: 0;
    overflow: hidden;
    /*font-family: 'Noto Serif TC', serif;
    font-family: 'cwTeXFangSong', serif;*/
    font-family: "cwTeXYen", sans-serif;
    /*font-family: 'Noto Sans TC', sans-serif;*/
    color:rgb(33, 33, 33);
    display: flex;
    justify-content: center;
    align-items:center;
  }

  #變白 {
    
    position: absolute;
    height: 100vh;
    width: 100vw;
    
    display: none;

    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px) brightness(130%);
    -webkit-backdrop-filter: blur(10px) brightness(130%);
    opacity: 0;



  }
  

  
  #容器 {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgb(171, 213, 214),rgb(224, 197, 173));
  }

  #容器2 {
  
  }

  #琴{
    backdrop-filter: blur(1px) hue-rotate(-30deg);
    -webkit-backdrop-filter: blur(1px) hue-rotate(-30deg);
  }

  #背景 {
    position: absolute;
    left: 50%;
    top: 7vh;
    height: 86vh;
    width: calc(70vw + 6vh);
    max-width: calc(500px + 6vh);
    transform: translate(-50%,0%);

    border-style: solid;
    border-width: 0.5px;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.104);
    border-radius: 10px 70px 10px 0px;
    backdrop-filter: blur(2px) brightness(105%) hue-rotate(-30deg);;
    -webkit-backdrop-filter: blur(2px) brightness(105%) hue-rotate(-30deg);;

  }

  #模糊 {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(195, 195, 195, 0);
    backdrop-filter: blur(1px) hue-rotate(0deg);
    -webkit-backdrop-filter: blur(1px) hue-rotate(0deg);
  }

  #推薦曲目 {

    position: absolute;
    left: 50%;
    top: 7vh;
    height: 86vh;
    width: calc(70vw + 6vh);
    max-width: calc(500px + 6vh);
    transform: translate(-50%,0%);
    display: none;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.104);
    border-radius: 10px 70px 10px 0px;
    backdrop-filter: blur(2px) brightness(105%);
    -webkit-backdrop-filter: blur(2px) brightness(70%);
    opacity: 0;
    color: rgb(255, 255, 255);

  }
  #推薦的是 {

    position: absolute;
    left: 50%;
    top: 15vh;
    height: 80vh;
    width: 70vw;
    max-width: 500px;
    transform: translate(-50%,0%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px 50px 10px 0px;;
    font-size: 32px;
    display: none;
    opacity: 0;
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans TC', sans-serif;
    font-weight:800;


  }

  #推薦清單1{

    position: absolute;
    left: 50%;
    top: 37vh;
    height: 15vh;
    width: 70vw;
    max-width: 500px;
    transform: translate(-50%,0%);
    cursor: pointer;


    background-color: rgb(0, 0, 0);
    





    border-radius: 10px 10px 10px 10px;;
    font-size: 25px;
    display: none;
    opacity: 1;
    font-family: 'Righteous', cursive;
    color: rgb(255, 255, 255);
    align-items: center;
    padding: 15px;

    

  }

  #推薦清單2{

    position: absolute;
    left: 50%;
    top: 60vh;
    height: 15vh;
    width: 70vw;
    max-width: 500px;
    transform: translate(-50%,0%);
    cursor: pointer;


    background-color: rgb(0, 0, 0);
    


    border-radius: 10px 10px 10px 10px;;
    font-size: 25px;
    display: none;
    opacity: 1;
    font-family: 'Righteous', cursive;
    color: rgb(255, 255, 255);
    align-items: center; 
    padding: 15px;

    filter: blur(0px);
    -webkit-filter: blur(0px);
  }

  @keyframes shine {
    100%{background-position: -50%;}
  }

  .清單::before{
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    height: calc(15vh - 28px);
    width: calc(70vw - 28px);
    max-width: 472px;
    background-color: rgb(17, 17, 33);

    border-radius: 10px 10px 10px 10px;;
    font-size: 25px;
    display: flex;
    opacity: 1;
    font-family: 'Righteous', cursive;
    color: rgb(255, 255, 255);
    align-items: center; 
    padding: 15px;
    z-index:-1;
}

.清單::after{
  content: "";
  position: absolute;
  left: 0px;
  height: calc(15vh - 30px);
  width: calc(70vw - 30px);
  max-width: 470px;


  background: linear-gradient(90deg, rgba(255, 128, 0, 0.7) 5%, rgb(140, 255, 58) 45%,rgba(140, 255, 58) 55%, rgba(255, 128, 0, 0.7) 95%);
  background-color: rgb(0, 0, 0);
  transition-timing-function: linear;
  background-size: 200% auto;
  animation: shine 5s infinite;
  background-position: 150%;


  border-radius: 10px 10px 10px 10px;;
  font-size: 25px;
  display: flex;
  opacity: 1;
  font-family: 'Righteous', cursive;
  color: rgb(255, 255, 255);
  align-items: center; 
  padding: 15px;
  z-index: -2;
  filter: blur(10px);
  -webkit-filter: blur(10px);


}

#推薦清單2::after{
  background:linear-gradient(90deg, rgba(89, 0, 255, 0.7) 5%, rgb(58, 245, 255) 45%,rgba(58, 245, 255) 55%, rgba(89, 0, 255, 0.7) 95%);
  transition-timing-function: linear;
    background-size: 200% auto;
    animation: shine 6s infinite;
    background-position: 150%;
}
  

  #題目 {
    position: absolute;
    left: 50%;
    top: 10vh;
    height: 30vh;
    width: 70vw;
    max-width: 500px;
    transform: translate(-50%,0%);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px 50px 10px 10px;;
    backdrop-filter: blur(5px) hue-rotate(5deg) brightness(105%);
    -webkit-backdrop-filter: blur(5px) hue-rotate(5deg) brightness(105%);
    padding: 5%;
    color: rgb(43, 43, 43);
    font-size: 18px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-weight:600;
    font-family: 'Noto Sans TC', sans-serif;
    

  }

  #答1 {
    position: absolute;
    left: 50%;
    top: 44vh;
    height: 13vh;
    width: 70vw;
    max-width: 500px;
    transform: translate(-50%,0%);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(5px) hue-rotate(5deg) brightness(105%);
    -webkit-backdrop-filter: blur(5px) hue-rotate(5deg) brightness(105%);
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 18px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(255, 255, 255, 0);
  }

  #答2 {
    position: absolute;
    left: 50%;
    top: 60vh;
    height: 13vh;
    width: 70vw;
    max-width: 500px;
    transform: translate(-50%,0%);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(5px) hue-rotate(5deg) brightness(105%);
    -webkit-backdrop-filter: blur(5px) hue-rotate(5deg) brightness(105%);
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 18px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(255, 255, 255, 0);
  }

  #答3 {
    position: absolute;
    left: 50%;
    top: 76vh;
    height: 13vh;
    width: 70vw;
    max-width: 500px;
    transform: translate(-50%,0%);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px 10px 10px 0px;
    backdrop-filter: blur(5px) hue-rotate(5deg) brightness(105%);
    -webkit-backdrop-filter: blur(5px) hue-rotate(5deg) brightness(105%);
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 18px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(255, 255, 255, 0);
  }


  #點群 {
    position: relative;
    left: 50%;
    top: 95%;
    height: 30px;
    width: 70px;
    background-color: rgba(255, 0, 0, 0);
    transform: translate(-50%,0%);
    display: flex;
    justify-content: space-evenly;
    align-items:center;
  }

  
  .點 {
    height: 4px;
    width: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
  }

  .三角{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 17.3px;
    border-color: transparent transparent transparent #000000;
    filter: drop-shadow(0.5px 0.5px 30px #6a5000);
    filter: drop-shadow(0.5px 0.5px 10px #b99402);
    filter: drop-shadow(0.5px 0.5px 3px #deaa00);
    animation: 旋轉 5s infinite;
  }

  .三角2{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 17.3px;
    border-color: transparent transparent transparent #000000;
    filter: drop-shadow(0.5px 0.5px 30px #006a63);
    filter: drop-shadow(0.5px 0.5px 10px #02b6b9);
    filter: drop-shadow(0.5px 0.5px 3px #00dec8);
    animation: 旋轉 4s infinite;
    animation-delay:2s;
    -webkit-animation-delay:2s;
  }
 

  #社團標誌{
    position: absolute;
    z-index: 1;
    -webkit-filter: invert(1) drop-shadow(7px 7px 15px rgba(255, 255, 255, 0.4)) drop-shadow(0px 0px 5px rgba(192, 65, 126, 0.6));
    filter: invert(1) drop-shadow(7px 7px 15px rgba(255, 255, 255, 0.4)) drop-shadow(0px 0px 5px rgba(187, 61, 124, 0.6));
    right:16px;
    bottom: 16px;
    transform: scale(0.6);
    animation: 標誌 10s infinite;
    cursor: pointer;
  }

  #ig{
    position: absolute;
    z-index: 0;
    -webkit-filter:  drop-shadow(7px 7px 15px rgba(255, 255, 255, 0.4)) drop-shadow(0px 0px 5px rgba(192, 65, 126, 0.6));
    filter: drop-shadow(7px 7px 15px rgba(255, 255, 255, 0.4)) drop-shadow(0px 0px 5px rgba(187, 61, 124, 0.6));
    right: 26px;
    bottom: 26px;
    transform: scale(0.5);
    transition-timing-function: ease-in-out;
    display: none;
  }


  #fb{
    position: absolute;
    z-index: 0;
    -webkit-filter:  drop-shadow(7px 7px 15px rgba(255, 255, 255, 0.4)) drop-shadow(0px 0px 5px rgba(65, 171, 192, 0.6));
    filter: drop-shadow(7px 7px 15px rgba(255, 255, 255, 0.4)) drop-shadow(0px 0px 5px rgba(61, 134, 187, 0.6));
    right: 26px;
    bottom: 26px;
    transform: scale(0.5);
    transition-timing-function: ease-in-out;
    display: none;
  }


  @keyframes fb往左 {
    from {
      transform: rotate(0deg) scale(0.5);
      right:26px;
    }

    80% {
      transform: rotate(-740deg) scale(0.5);
      right:124px;
   }
    100% {
      transform: rotate(-720deg) scale(0.5);
      right:120px;
    }

  }

  @keyframes ig往左 {
    from {
      transform: rotate(0deg) scale(0.5);
      right:26px;
    }

    30% {
      transform: rotate(0deg) scale(0.5);
      right:26px;
    }

    86% {
      transform: rotate(-725deg) scale(0.5);
      right:82px;
   }

    to {
      transform: rotate(-720deg) scale(0.5);
      right:80px;
   }
  }

  @keyframes fb往右 {
    from {
      transform: rotate(-720deg) scale(0.5);
      right:120px;
    }

    10% {
      transform: rotate(-360deg) scale(0.5);
      right:120px;
   }
    82% {
      transform: rotate(1440deg) scale(0.5);
      right:-200px;
    }
    83% {
      transform: rotate(-1440deg) scale(0.5);
      right:2000px;
    }
    99%{
      transform: rotate(0deg) scale(0.5);
      right:26px;
    }
    100%{
      transform: rotate(0deg) scale(0.5);
      right:26px;
      display: none;
    }

  }

  @keyframes ig往右 {
    from {
      transform: rotate(-720deg) scale(0.5);
      right:80px;
    }

    10% {
      transform: rotate(-360deg) scale(0.5);
      right:80px;
   }
    83% {
      transform: rotate(1440deg) scale(0.5);
      right:-200px;
    }
    84% {
      transform: rotate(-1440deg) scale(0.5);
      right:2000px;
    }
    99%{
      transform: rotate(0deg) scale(0.5);
      right:26px;
    }
    100%{
      transform: rotate(0deg) scale(0.5);
      right:26px;
      display: none;
    }
  }

  @keyframes 旋轉 {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(720deg);
   }
  }

  @keyframes 標誌 {
    from {
      transform: rotate(0deg) scale(0.5);
    }
  
    8% {
      transform: rotate(50deg) scale(0.6);
   }
    14.2% {
     transform: rotate(-15deg) scale(0.4);
    }
    16% {
      transform: rotate(17deg) scale(0.56);
    }
    18% {
      transform: rotate(-12deg) scale(0.46);
    }
    19% {
      transform: rotate(7deg) scale(0.53);
    }
    19.5% {
      transform: rotate(-4deg) scale(0.48);
    }
    19.8% {
      transform: rotate(2deg) scale(0.51);
    }
    20% {
      transform: rotate(0deg) scale(0.47);
    }
    to {
      transform: scale(0.5);
    }
  }

  @keyframes 標誌2 {
    from {
      transform: rotate(0deg) scale(0.5);
    }

    20% {
      transform: rotate(0deg) scale(0.5);
    }
    30% {
      transform: rotate(-70deg) scale(0.45);
    }
  
  
    to {
      transform: rotate(1440deg)  scale(0.5);
    }
  }

